<template>
<div>
    <table id="countdown-table">
            <tbody>
            <tr>
              <td class="title-table">DAYS</td>
              <td class="title-table">HOURS</td>
              <td class="title-table">MINUTES</td>
              <td class="title-table">SECONDS</td>
            </tr>
            <tr>
              <td class="countdown-textbox" id="day">{{days}}</td>
              <td class="countdown-textbox" id="hour">{{hours}}</td>
              <td class="countdown-textbox" id="minute">{{minutes}}</td>
              <td class="countdown-textbox" id="second">{{seconds}}</td>
            </tr>
            </tbody>
          </table>
</div>
</template>

<script>
export default {
  props: {
    date: null
  },

  filters: {
    two_digits (value) {
        if (value.toString().length <= 1) {
        return '0' + value.toString()
        }
        return value.toString()
    }
  },

  data () {
    return {
      now: Math.trunc((new Date()).getTime() / 1000),
      event: this.date
    }
  },

  computed: {
    calculatedDate () {
      this.event = Math.trunc(Date.parse(this.event) / 1000)
      return this.event
    },
    seconds () {
      return (this.calculatedDate - this.now) % 60
    },
    minutes () {
      return Math.trunc((this.calculatedDate - this.now) / 60) % 60
    },
    hours () {
      return Math.trunc((this.calculatedDate - this.now) / 60 / 60) % 24
    },
    days () {
      return Math.trunc((this.calculatedDate - this.now) / 60 / 60 / 24)
    }
  },

  mounted () {
    window.setInterval(() => {
      this.now = Math.trunc((new Date()).getTime() / 1000)
    }, 1000)
  }
}
</script>
<style>
#countdown-table{
  table-layout: fixed;
  width: 100%;
  border: 6px;
}

.title-table{
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  margin: 10px;
  font-size: 1em;
}

@media only screen and (max-width: 600px) {
    .title-table {
        font-size: 0.80em;
    }
}

.countdown-textbox{
  background: white;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 3em;
  margin: 10px;
  padding: 20px 0;
  border-radius: 10px;
}

</style>
