<template>
  <div>
    <div id="global-container">
      <nav id="navbar">
        <nuxt-link to="/"><img class="nav-logo" src="/logo-header-2.png"></nuxt-link>
        <div class="menu">
          <nuxt-link to="/about">ABOUT</nuxt-link>
          <nuxt-link to="/speakers">SPEAKERS</nuxt-link>
          <nuxt-link to="/coming-soon">GALLERY</nuxt-link>
          <nuxt-link to="/thank-you">THANK YOU</nuxt-link>
          <nuxt-link to="/contact-us" id="contact">CONTACT US</nuxt-link>
        </div>-->
        <!-- Hamburger -->
        <label for="showHam" id="hamButton" class="md:hidden items-center px-3 py-2 border rounded text-red-lighter border-red-light hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </label>
        <input type="checkbox" id="showHam"/>
        <!-- Hamburger content -->      
        <div id="ham" class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div><nuxt-link to="/about">ABOUT</nuxt-link></div>
          <div><nuxt-link to="/speakers">SPEAKERS</nuxt-link></div>
          <div><nuxt-link to="/coming-soon">GALLERY</nuxt-link></div>
          <div><nuxt-link to="/thank-you">THANK YOU</nuxt-link></div>
          <div><nuxt-link to="/contact-us" id="contact">CONTACT US</nuxt-link></div>
          <hr>
        </div>
      </nav>
      <div class="content">
        <nuxt/>
      </div>
      <div id="footer-space"></div>
    </div>
    <div id="footer">
      <img src="/footer.png">
    </div>
  </div>
</template>

<style>
/* Custom fonts */
@font-face {
  font-family: Madrid;
  src: url(/Madrid.ttf);
}

h1 {
  font-family: "Madrid";
  color: white;
  letter-spacing: 2px;
}

p {
  color: white;
  text-align: justify;
}

a {
  color: white;
  text-decoration: none;
}
/* Globals */

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

body{
  background: #1f1e1c;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

#global-container {
  min-height: 100vh;
  margin-bottom: -8vw; /* Sticky footer */
}

@media (max-width: 767px) {
  #global-container {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Menubar */
#navbar {
  margin-bottom: 20px;
}

.nav-logo{
  margin: 25px 0px 0 100px;
  width: 150px;
}

@media (max-width: 768px) {
  .menu {display: none;}
  .nav-logo {margin-left: 25px}
}

#navbar .menu {
  right:8%;
  position: absolute;
  margin-top: -25px;
}

#navbar .menu a, #navbar #ham a{
  color: white;
  margin: 20px;
  letter-spacing: 2px;
  font-family: 'Fira Sans';
  text-decoration: none;
  font-size: 0.8em
}

#navbar .menu #contact, #navbar #ham #contact{
  color: #ff0000;
  margin: 20px 0 20px 80px;
  letter-spacing: 2px;
  font-family: 'Fira Sans';
  text-decoration: none;
  font-size: 0.8em
}

#navbar #ham #contact {
  margin: 20px;
}

/* Mobile hamburger */

label {cursor: pointer;}

#hamButton {
  float: right;
  margin: 25px 25px 0 25px;
}

#showHam {display: none;}

#ham {
  height: 0;
  overflow: hidden;
}

#showHam:checked + #ham {
  height: 170px;
  margin-top: 20px;
}

#ham > div {
  text-align: center;
  margin-bottom: 15px;  
}

hr {
  height: 1px;
  border-color: #fff;
  background-color: #fff;
  color: #fff;
}

.content {
  min-height: calc(100vh - 8vw - 82.38px);
  margin-left: 6vw;
  margin-right: 6vw;
  position: relative;
}

/* Footer */
#footer {
  text-align: center;
  margin-top: 2vw;  
}
#footer img {
  height: 6vw;
}
</style>
