<template>
  <div class="container w-full">
    <img src="/beyond-the-grasp_black.png" width="500">
    <h1 v-if="error.statusCode === 404">Are you lost?</h1>
    <h1 v-else>{{ error.statusCode }}: An error occurred</h1>
    <a href="/">Ask, and you shall find</a>
  </div>
</template>

<script>
export default {
  props: ['error'],
  layout: 'blank'
}
</script>

<style>
    .container {
        text-align: center;
    }
</style>
