<template>
    <div class="flex flex-wrap mx-8">
        <div id="left" class="sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2 my-auto">
          <img src="/about/Asset 34.png"/>            
        </div>
        <div id="right" class="sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2 my-auto">
            <h1>Our Theme</h1>
            <p>The line represents the law and order in our lives, the straightness and the 'way life is supposed to be' but, beyond that, let's take the side, let's out the rule we bound in, grasp the unknown, reflect it out, and thus we will find the truth.</p>
        </div>
    </div>
</template>

<style>
    #left {
        text-align: right;
    }
    
    @media (min-width: 768px) {
        #right {
            padding-right: 20%;
            position: relative;
            bottom: 80px;
        }
    }

    #right img {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #right p { 
        width: 80%;
        color: white;
        margin-bottom: 50px;
    }
</style>