<template>
    <div id="contact" class="flex flex-wrap">
        <div class="w-full my-auto mx-8">
            <h1>Contact Us</h1>
            <p>TED is a nonprofit devoted to spread ideas, usually in the form of short, powerful talks. TED began in 1984 as a conference where technology, entertainment, and design converged, and today covers almost all topics from science to business to global issues, in more than 100 languages.</p>
            <p>Meanwhile, independently run TEDx events help share ideas in communities around the world, x stood for independently organized. A TEDx event is a local gathering.</p>
            <p>TEDx events are fully planned and coordinated independently, on a community-by-community basis.</p>
            <br/><br/>
            <p> 
                <a href="https://www.instagram.com/TEDXITB/" target="_blank">
                    <img class="social" src="social/instagram-01.png">
                    @TEDxITB 
                </a> 
            </p>
            <p> 
                <a href="http://line.me/ti/p/~@gxr2895w" target="_blank">
                    <img class="social" src="social/line-01.png"> 
                    @gxr2859w 
                </a>
            </p>
        </div>
    </div>
</template>

<style>
    p {
        margin: 20px;
    }

    .social{
        width: 20px;
    }
</style>
