<template>
    <div id="root" class="mx-auto my-auto">
        <img src="/logo-header.png">
        <h1>Thank You!</h1>
        <h2>See you on the next TEDxITB!</h2>
    </div>
</template>

<style>
    #root {
        height: 100%;
        text-align: center;
    }

    #root img {
        max-width: 300px;
    }

    h2 {
        font-family: Helvetica;
        font-weight: lighter;
        color: hsl(0, 100%, 50%);
    }
</style>
