<template>
  <div class="flex flex-wrap">
    <div id="words" class="sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2 mx-auto my-auto">
      <div class="mx-2" id="heading1">
        Are you ready?
      </div>
      <div class="mx-2" id="heading2">
        Ask, and you shall receive.
        <br/> Be there in our first talk
      </div>
      <div class="mx-auto" id="audience">
        <a class="mx-auto" href="https://bit.ly/tedxitbregistrationform" id="button-audience">Be Our Audience &#5125;</a>
      </div>
      <div class="mx-4" id="social-media">
        <a href="https://www.facebook.com/TEDx-ITB-210349299728388" target="_blank">
          <img class="social-logo" src="social/facebook-01.png">
        </a>
        <a href="https://www.instagram.com/TEDXITB/" target="_blank">
          <img class="social-logo" src="social/instagram-01.png">
        </a>
        <a href="http://line.me/ti/p/~@gxr2895w" target="_blank">
          <img class="social-logo" src="social/line-01.png">
        </a>
        <a href="https://twitter.com/TEDxITBandung" target="_blank">
          <img class="social-logo" id="twitter" src="social/twitter-01.png">
        </a>
      </div>
    </div>
    <div id="countdown" class="sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2 mx-auto my-auto">
      <div id="circle">
        <div id="countdown-number">
          <Countdown date="2018-05-25 13:30:00"></Countdown>
        </div>
        <img id="beyond" src="beyond-the-grasp_black.png" />
      </div>
    </div>  
  </div>
</template>

<script>
import Countdown from '~/components/Countdown.vue'

export default {
  components: {
    Countdown
  }
}

</script>

<style>
@media (min-width: 768px) {
 .container {
    margin-bottom: 100px;
  }
}

/* Words */

#heading1, #heading2{
  font-family: 'Helvetica';
}

#heading1{
  font-weight: bold;
  color: white;
  font-size: 2em;
}

@media (max-width: 767px) {
  #heading1 {
    text-align: center;
    margin-top: 30px;
  }
}

#heading2{
  font-weight: lighter;
  color: hsl(0, 100%, 50%);
}

@media (max-width: 767px) {
  #heading2 {text-align: center;}
}

#audience{
  margin: 30px 0;
}

@media (max-width: 767px) {
  #audience {text-align: center;}
}

#button-audience{
  border: solid 3px white;
  padding: 10px 80px 10px 10px;
  color: white;
  text-decoration: none;
  font-family: 'Fira Sans';
  letter-spacing: 3px;
}

#button-audience:hover{
  border: solid 3px white;
  padding: 10px 100px 10px 10px;
  color: #1f1e1c;
  background: white;
  text-decoration: none;
  font-family: 'Fira Sans';
  letter-spacing: 3px;
}

.social-logo{
  width: 20px;
  margin: 15px;
}

@media (max-width: 767px) {
  #social-media {text-align: center;}
}

/* Countdown */
#countdown {
  position: relative;
}

#countdown-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

@media (max-width: 767px) {
  #countdown {
    width: 50vh;
    height: 50vh;
  }

  #countdown-number{
    padding: 10px;
    width: 80%;
    height: auto;
  }
}

@media (min-width: 768px){
  #countdown{
    width: 40vw;
    height: 40vw;
  }

  #countdown-number{
    padding: 50px;
    width: 100%;
  }
}

#circle{
  position: absolute;
  background: #ff0000;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: -999;
}

#beyond{
  position: absolute;
  bottom: 0%;
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
}
</style>
