<template>
    <div class="mx-8">
        <h1>Supported By:</h1>
        <div class="flex flex-wrap parent">
            <div class="img-container"><img src="/sponsors/sbm-itb.png" alt="sbm-itb"></div>
            <div class="img-container"><img src="/sponsors/imk.png" alt="imk"></div>
        </div>
        <h1>Partnered With:</h1>
        <div class="flex flex-wrap parent">
            <div class="img-container"><img src="/sponsors/arlinda.png" alt="arlinda"></div>
            <div class="img-container"><img src="/sponsors/mejabundar.png" alt="mejabundar"></div>
            <div class="img-container"><img src="/sponsors/smile.png" alt="smile"></div>
            <div class="img-container"><img src="/sponsors/dinotix.png" alt="dinotix"></div>
        </div>
        <h1>Sponsored By:</h1>
        <div class="flex flex-wrap parent">
            <div class="img-container"><img src="/sponsors/pertamina.png" alt="pertamina"></div>
            <div class="img-container"><img src="/sponsors/skkmigas.png" alt="skkmigas"></div>
            <div class="img-container"><img src="/sponsors/exonmobil.png" alt="exonmobil"></div>
            <div class="img-container"><img src="/sponsors/telkom.png" alt="telkom"></div>
            <div class="img-container"><img src="/sponsors/heavenly.png" alt="heavenly-blush"></div>
            <div class="img-container"><img src="/sponsors/nivea.png" alt="nivea"></div>
            <div class="img-container"><img src="/sponsors/nivea-men.png" alt="nivea-men"></div>
        </div>
    </div>
</template>

<style>
    .img-container {
        width: 200px;
    }

    .img-container img {
        width: 100%;
        height: auto;
        display: block;
    }

    .parent {
        justify-content: space-around;
        align-items: center;
    }
</style>

