<template>
    <div class="flex flex-wrap">
        <div class="sm:w-full md:w-2/5 lg:w-2/5 xl:w-2/5">
          <img :src="'/speakers/' + speaker.id + '.png'"/>            
        </div>
        <div id="desc" class="sm:w-full md:w-3/5 lg:w-3/5 xl:w-3/5 my-auto">  
            <h1>{{ speaker.name }}</h1>     
            <p>{{ speaker.desc }}</p>
        </div>
    </div>    
</template>

<style>
    #desc {
        border-style: solid;
        border-width: 1.5px;
        border-color: brown;
        color: white;
        padding: 2rem;
    }

    @media (max-width: 767px) {
        #desc {
            margin-left: 1.2rem;
            margin-right: 1.2rem;
        }
    }
</style>


<script>
export default {
    asyncData(context) {
        return {
            speaker: [
                {
                    id: "zoro",
                    name: "Prof. Dr. Dipl. Ing. Ir. Reynaldo Zoro",
                    desc: "Does the name Zoro sounds familiar to you? well it does for the rest of the world as well! This world-famous professor is a current lecturer in ITB at STEI. Prof Reynaldo Zoro's unprecedented mastery in the field of lightning made him a regular at some of the most famous airports in the planet, and the \"Master Petir\" will surely give fascinating insights and ideas in TEDxITB."
                }, 
                {
                    id: "dina",
                    name: "Dr. Dina Dellyana., S.Farm., APT., MBA.",
                    desc: "An entrepreneur with pharmacy background that is currently the leader of many entities, Dr Dina Dellyana is the director of SBM ITB's Business Incubator program, home to some of the most promising businessess around campus. She is also the owner of Glinzt Shoes and Apotek Mandiri Farma, as well as being the External Relations Officer in BCCF. Not to mention she is an expert at electronic music composing. The best part is, she is coming to TEDxITB to deliver a talk that surely will be very useful for young aspiring entrepreneurs."
                }, 
                {
                    id: "hawari",
                    name: "M. Al-Hawari",
                    desc: "Hawari is a current Undergraduate student at EL ITB, but that does not mean he lacks any kind of experience! He is a teacher at Padjajaran Language School, as well as a visiting researcher at CTECH Labs EdWar Technology. His approach to some of the world's biggest conundrum made him a TEDx speaker, as he will deliver an intriguing and interesting talk that is worth listening. Look out for his findings at TEDxITB!"
                }, 
                {
                    id: "nyoman",
                    name: "Nyoman Anjani, BS.",
                    desc: "Yes, it is that Nyoman Anjani.  Alumni from Himpunan Mahasiswa Mesin, she is now currently employed as Automation Projects Manager at Unilever Indonesia. This aspiring, insightful, and inspirational individual was the first ever woman to take the KM-ITB Presidency in 2013. She is also the founder of Pelita Muda ITB. Her legacy stand strong, as she will come home in TEDxITB."
                }, 
                {
                    id: "pidi",
                    name: "Pidi Baiq",
                    desc: "Who is not familiar with this novelist, poet, and artist? Pidi Baiq is well known for his series of novel, Dilan. But his uniqueness extend beyond his writings. His eccentric styles and his humors are bold statements of his personal branding. The ITB Alumni is also widely regarded as one of the most humble person that have made it to the top. Make sure to be at TEDxITB as he will debunk all of his principles in life, surely full of interesting insights."
                } 
            ].find(el => el.id === context.params.id)
        }
    }
}
</script>

