<template>
    <div id="parent" class="flex flex-wrap mx-8">
        <div class="img-container"><nuxt-link to="/speakers/zoro"><img src="/speakers/zoro.png"/></nuxt-link></div>
        <div class="img-container"><nuxt-link to="/speakers/dina"><img src="/speakers/dina.png"/></nuxt-link></div>
        <div class="img-container"><nuxt-link to="/speakers/hawari"><img src="/speakers/hawari.png"/></nuxt-link></div>
        <div class="img-container"><nuxt-link to="/speakers/nyoman"><img src="/speakers/nyoman.png"/></nuxt-link></div>
        <div class="img-container"><nuxt-link to="/speakers/pidi"><img src="/speakers/pidi.png"/></nuxt-link></div>        
    </div>
</template>

<style>
    #parent {
        justify-content: space-around;
        align-items: center;
    }

    .img-container {
        width: 300px;
    }

    .img-container img {
        width: 100%;
        height: auto;
    }
</style>
